PORT=3000
FIREBASE_API_KEY="AIzaSyCuPRRtuMcf-sNuLdGyGU2Yheje_k2D4YI"
FIREBASE_AUTH_DOMAIN="lost-and-found-7203c.firebaseapp.com"
FIREBASE_PROJECT_ID="lost-and-found-7203c"
FIREBASE_STORAGE_BUCKET="lost-and-found-7203c.firebasestorage.app"
FIREBASE_MESSAGING_SENDER_ID="300041676634"
FIREBASE_APP_ID="1:300041676634:web:505fbb7b5991ff2358b563"
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_UPLOAD_PRESET=